<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CreationFichierKML.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CreationFichierKML.settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="CreationFichierKML.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <CreationFichierKML.Properties.Settings>
            <setting name="formatDecimal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="precision" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="nomLongitude" serializeAs="String">
                <value>Longitude</value>
            </setting>
            <setting name="nomLatitude" serializeAs="String">
                <value>Latitude</value>
            </setting>
            <setting name="repertoire" serializeAs="String">
                <value>D:\presta</value>
            </setting>
            <setting name="nomKML" serializeAs="String">
                <value>fichierKML</value>
            </setting>
            <setting name="repKML" serializeAs="String">
                <value>D:\presta</value>
            </setting>
            <setting name="tempsMin" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DepArr" serializeAs="String">
                <value>False</value>
            </setting>
        </CreationFichierKML.Properties.Settings>
        <CreationFichierKML.settings>
            <setting name="formatDecimal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="precision" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="nomLongitude" serializeAs="String">
                <value>Longitude</value>
            </setting>
            <setting name="nomLatitude" serializeAs="String">
                <value>Latitude</value>
            </setting>
            <setting name="repertoire" serializeAs="String">
                <value>D:\presta</value>
            </setting>
            <setting name="nomKML" serializeAs="String">
                <value>fichierKML</value>
            </setting>
            <setting name="repKML" serializeAs="String">
                <value>D:\presta</value>
            </setting>
            <setting name="tempsMin" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DepArr" serializeAs="String">
                <value>True</value>
            </setting>
        </CreationFichierKML.settings>
        <CreationFichierKML.Settings>
            <setting name="nomLongitude" serializeAs="String">
                <value/>
            </setting>
            <setting name="nomLatitude" serializeAs="String">
                <value/>
            </setting>
            <setting name="formatDecimal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="repertoire" serializeAs="String">
                <value/>
            </setting>
            <setting name="repKML" serializeAs="String">
                <value/>
            </setting>
            <setting name="precision" serializeAs="String">
                <value>10</value>
            </setting>
        </CreationFichierKML.Settings>
    </userSettings>
</configuration>
